* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	padding: 0 1rem;
}

.checkboxStyle {
	background-color: rebeccapurple;
	display: inline-block;
	height: 25px;
	margin: 0px 5px;
	margin-right: 20px;
	width: 25px;
}

.submitBtn {
	display: inline-block;
	border: none;
	background: #555;
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
}

.submitBtn:hover {
	background: #666;
}

.label {
	display: inline-block;
	padding-top: 3px;
	text-decoration: none;
}

.labelCmp {
	display: inline-block;
	padding-top: 3px;
	text-decoration: line-through;
}

.inputStyle {
	display: inline-block;
}

.delBtn {
	background: #ff0000;
	border: non;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	float: right;
	margin-left: auto;
	padding: 5px 9px;
}